---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const title = 'About me';

const identity = {
  firstName: 'Ricard',
  country: 'Spain',
  occupation: 'Node.js developer',
  hobbies: ['Padel', 'Videogames', 'Programming']
};

// sort hobbies randomly and always pick two (this guarantees no duplicates)
const twoOfMyHobbies = [...identity.hobbies].sort(() => Math.random() - 0.5).slice(0, 2);

const skills = ['TypeScript', 'JavaScript', 'Node.js', 'HTML/CSS/JS', 'React', 'Bash'];

const motivated = true;
const finished = false;
const goal = 3;

const skillColor = 'dodgerblue';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style define:vars={{ skillColor }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <Navigation />

    <h1>About me</h1>
    <h2>... and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second page in my website, and
      it's the first one I built myself!
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking back and see how my
      journey is going!
    </p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two or my hobbies are: {twoOfMyHobbies[0]} and {twoOfMyHobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>{skills.map((s) => <li class="skill">{s}</li>)}</ul>

    {motivated && <p>I am motivated to be learning Astro!</p>}

    {finished && <p>I finished this tutorial</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My hoal is not 3 days</p>}

    <Footer />
  </body>
</html>
